<div class="coupon-form">
  <h2>Add Coupon</h2>
  <form [formGroup]="couponForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="flex">
        <div class="p-field">
          <label for="code">Coupon Code</label>
          <div class="coupon-field">
            <input
              type="text"
              id="code"
              pInputText
              formControlName="code"
              placeholder="Enter coupon code"
            />
            <button
              pButton
              type="button"
              label="Generate"
              (click)="generateRandomCode()"
              style="margin-left: 10px"
            ></button>
          </div>
        </div>
        <div class="p-field">
          <label for="discount">Discount (%)</label>

          <p-inputNumber
            inputId="discount"
            formControlName="discount"
            placeholder="Enter discount percentage"
          ></p-inputNumber>
        </div>
      </div>
      <div class="flex">
        <div class="p-field">
          <label for="validFrom">Valid From</label>
          <p-calendar
            id="validFrom"
            formControlName="validFrom"
            [showIcon]="true"
            dateFormat="yy-mm-dd"
            placeholder="Select valid from date"
          ></p-calendar>
        </div>
        <div class="p-field">
          <label for="validTo">Valid To</label>
          <p-calendar
            id="validTo"
            formControlName="validTo"
            [showIcon]="true"
            dateFormat="yy-mm-dd"
            placeholder="Select valid to date"
          ></p-calendar>
        </div>
      </div>

      <button
        pButton
        class="add-button"
        type="submit"
        label="Add Coupon"
        [disabled]="!couponForm.valid"
      ></button>
    </div>
  </form>
</div>
<div class="p-grid p-justify-center mt-5">
  <div class="p-col-10 p-md-8">
    <p-table
      [value]="coupons"
      [columns]="cols"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">{{ col.header }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-coupon>
        <tr>
          <td>{{ getMaskedCode(coupon.code, coupon.codeMasked) }}</td>
          <td>
            <button
              pButton
              icon="pi pi-eye"
              (click)="toggleCodeVisibility(coupon)"
            ></button>
          </td>
          <td>{{ coupon.discount }} %</td>
          <td>{{ coupon.currentUsage }}</td>
          <td>{{ coupon.maxUsage }}</td>
          <td>{{ coupon.isActive }}</td>
          <td>{{ coupon.validFrom | date }}</td>
          <td>{{ coupon.validTo | date }}</td>
          <td>
            <button
              class="remove-button"
              pButton
              icon="pi pi-trash"
              (click)="deleteCoupon(coupon._id)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div *ngIf="!coupons || coupons.length === 0" class="p-text-center">
      No coupons found.
    </div>
  </div>
</div>
