.p-field{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}
.flex {
    display: flex;
    gap: 20px;
}
.add-button{
    margin: 20px;
    max-width: 150px;
}
.coupon-field{
    display: flex;
    align-items: center;

}
.coupon-field button{
    width: 120px;    
}
td button{
    background-color: transparent !important;
    color: black;
    border : none;
}
td button:hover{
    color: gray;
}
.remove-button{
    color: red !important;
}