<p-toolbar>
  <div class="p-toolbar-group-start">
    <button pButton icon="pi pi-angle-right" class="p-button-text"></button>
  </div>
  <div class="p-toolbar-group-end">
    <button pButton icon="pi pi-calendar" class="p-button-text"></button>
    <button pButton icon="pi pi-user" class="p-button-text"></button>
    <button pButton icon="pi pi-spin pi-cog" class="p-button-text"></button>

    <button
      class="p-button-text"
      (click)="change_theme()"
      pButton
      icon="pi pi-sun"
      ariaLabel="campaign"
    ></button></div
></p-toolbar>
