<p-toolbar>
  <div class="p-toolbar-group-start">
    <div>
      <img src="../../../assets/mainlogo.png" alt="" />
    </div>
    <p-button icon="pi pi-bars" styleClass="p-button-link"></p-button>
  </div>
  <div class="p-toolbar-group-end">
    <p-button icon="pi pi-calendar" styleClass="p-button-link"></p-button>
    <p-button icon="pi pi-user" styleClass="p-button-link"></p-button>
    <p-button
      icon="pi pi-spin pi-cog"
      styleClass="p-button-link"
    ></p-button></div
></p-toolbar>
