<div class="mainpage">
  <div *ngIf="!loading && !orderDetails" class="order-not-found">
    <p>Order not found.</p>
  </div>
  <p-progressSpinner
    *ngIf="loading && !orderDetails"
    styleClass="custom-spinner"
    class="order-products"
  ></p-progressSpinner>
  <div class="order-header" *ngIf="!loading && orderDetails">
    <h3>Thanks!</h3>
    <h1>Successful Order 🚀</h1>
    <p>Your order is on the way. It'll be shipped today. We'll inform you.</p>
  </div>

  <!--------------------------------------------------->
  <div *ngIf="!loading && orderDetails">
    <div class="orders-section-header">
      <div class="orders-section-header_item">
        <div>Order Number</div>
        <div>{{ orderDetails.orderId }}</div>
      </div>
      <div class="orders-section-header_item">
        <div>Order Date</div>
        <div class="order-status-details">
          <i
            [class]="getOrderStatusInfo(orderDetails.status).icon"
            [style.color]="getOrderStatusInfo(orderDetails.status).color"
          ></i>
          <span [style.color]="getOrderStatusInfo(orderDetails.status).color">{{
            orderDetails.status
          }}</span>
        </div>
      </div>

      <div class="orders-section-header_item">
        <div>Total Amount</div>
        <div>
          {{ orderDetails.totalAmount }} <i style="font-size: 12px">DT</i>
        </div>
      </div>
    </div>
    <div class="orders">
      <div class="order-details">
        <div
          *ngFor="let product of orderDetails.products"
          class="order-product"
        >
          <div class="order-product-left">
            <img [src]="product.productId.images[0].url" alt="image" />
            <div class="order-product-left-content">
              <div>{{ product.productId.name }}</div>
              <div class="left-content-size">
                Category | {{ product.productId.category }}
              </div>
              <div>Quantity {{ product.quantity }}</div>
            </div>
          </div>
          <div class="order-product-price">
            {{ product.productId.price }} <i style="font-size: 12px">DT</i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="order-info" *ngIf="orderDetails">
    <div class="user-info">
      <h3>Shipping Informations</h3>
      <span
        ><b> Name : </b>{{ orderDetails.lastname }} {{ orderDetails.name }}
      </span>
      <span> <b> Email : </b> {{ orderDetails.email }} </span>
      <span><b> Address : </b> {{ orderDetails.shippingAddress }} </span>
      <span> <b> Phone : </b>{{ orderDetails.phone }} </span>
    </div>
  </div>
</div>
