<div class="mainpage">
  <div class="order-header">
    <h3>Thanks!</h3>
    <h1>Successful Order 🚀</h1>
    <p>Your order is on the way. It'll be shipped today. We'll inform you.</p>
  </div>
  <div class="order-number">
    <div class="order-number-text">Order number: 451234</div>
    <div class="order-number-buttons">
      <button pButton class="p-button-primary empty-button">Details</button>
      <button pButton class="p-button-primary empty-button">Print</button>
    </div>
  </div>
  <div class="order-products">
    <div class="order-product">
      <div class="order-product-left">
        <img src="../../../assets/homepage/model3.jpg" alt="" />
        <div class="order-product-left-content">
          <div>Product Name</div>
          <div class="left-content-size">Size | XXL</div>
          <div>Quantity 3</div>
        </div>
      </div>
      <div class="order-product-price">
        150.00 <i style="font-size: 12px">DT</i>
      </div>
    </div>
  </div>
  <div class="order-info">
    <div></div>
    <div></div>
  </div>
</div>
