<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <h4>About Us</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo
        ipsum sit amet molestie posuere.
      </p>
    </div>
    <div class="footer-column">
      <h4>Contact</h4>
      <ul>
        <li>Email: info@example.com</li>
        <li>Phone: +1 123 456789</li>
        <li>Address: 123 Street, City, Country</li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Follow Us</h4>
      <div class="social-icons">
        <a href="#" class="social-icon"><i class="pi pi-facebook"></i></a>
        <a href="#" class="social-icon"><i class="pi pi-twitter"></i></a>
        <a href="#" class="social-icon"><i class="pi pi-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
