.mainpage {
  max-width: 1300px;
  margin: 30px auto;
  min-height: 580px;
}

.big-text {
    font-size: 35px;
    margin: 50px;
    font-weight: 580;
    letter-spacing: 1px;
}
.empty-cart-message {
    margin: 80px auto;
    padding: 20px 30px 40px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 380px;
    gap: 20px;
    

  }
  .empty-cart-message p{
    font-size: 18px;
    text-align: center;
}
  .empty-button{
    width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--maincolor);
    border:var(--maincolor) solid 1px ;
    background-color: transparent;
}

.empty-button i{
    font-size: 12px;
}
  .empty-cart-icon {
    font-size: 4rem;
    color: var(--graycolor);
    margin-bottom: 10px;
  }
  
  
.page-content {
    display: flex;
    justify-content: space-between;
    min-height: 650px;

}

.product-section {
    width: 65%;
    min-height: 300px;

}

.product {
    height: 270px;
    display: flex;
    position: relative;

}
.remove-button {
    position: absolute;
    top: 10px;
    right: 30px;
    color: var(--graycolor);
    cursor: pointer;
}
.product-img {
    height: 210px;
    min-width: 210px;
    background-color: var(--soft-darkcolor);
    border-radius: 10px;
    overflow: hidden;
    margin: 30px;
}

.product-img img{
    height: 100%;
    width: 100%;
}


.product-details {
    display: flex;
    flex-direction: column ;
    margin: 30px;
    justify-content: space-between;
}

.product-details-det{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-details-det div{
    display: flex;
    gap: 10px;
}
.product-name{
    font-weight: 550;
    font-size: 16px;

}
.product-desc{
    font-size: 14px;
    color: var(--graycolor);
    
}
.product-price{
    font-weight: 550;
    font-size: 15px;
    
}
.product-details-stock{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.product-details-stock i{
    color: green;
}

.product-details-number {
    margin: 30px;
}
.product-details-number select {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 6px 15px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    transition: border-color 0.3s ease;
  }
  

  .order-section {
    margin-right: 20px;
    width: 30%;
    border-radius: 10px;
    background-color: var(--soft-darkcolor);
    height: max-content;
    position: sticky;
    top: 70px;
  }
.order-text{
    margin: 30px 10px;
    font-size: 18px;
    font-weight: 550;

}
.order-flexy{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-flexy span{
    color: var(--graycolor);
}
.order-flexy h3{
    font-weight: 550;
}
.order-section button{
    margin: 5%;
    width: 90%;
    background-color: var(--darkcolor);
    color: var(--whitecolor);

}
@media only screen and (max-width: 950px) {

    .page-content {
        flex-direction: column;
    }
    .product-section {
        width: 90%;
        min-height: 300px;
        margin: auto;
    }

    .order-section {
        width: 90%;
        height: max-content;
        margin: auto;
      }
}
