<div class="first-toolbar toolbar">
  <div>+216 24989104</div>
  <div>Get free delivery on orders over $100</div>
  <div *ngIf="!isAuth">
    <button
      class="p-button-text"
      label="Create an account"
      pButton
      routerLink="auth/signup"
    ></button>
    <span>|</span>
    <button
      class="p-button-text"
      label="Sign In"
      pButton
      routerLink="auth/login"
    ></button>
  </div>

  <div *ngIf="isAuth">
    <button
      class="p-button-text"
      label="Logout"
      pButton
      class="logout-button"
      (click)="logout()"
    ></button>
  </div>
</div>
<div
  class="second-toolbar toolbar"
  [ngClass]="{ 'navbar-transparent': isNavbarTransparent }"
>
  <div class="logo1" routerLink="">
    <img [src]="getImgSrc()" alt="Logo" />

    <span>Swifty</span>
  </div>
  <div class="middle-content">
    <button
      class="p-button-text"
      routerLinkActive="activebutton"
      [routerLink]="['categorie']"
      label="Women"
      pButton
    ></button>
    <button
      class="p-button-text"
      routerLinkActive="activebutton"
      [routerLink]="['categorie']"
      label="Men"
      pButton
    ></button>

    <button
      class="p-button-text"
      routerLinkActive="activebutton"
      [routerLink]="['checkout']"
      label="Deals"
      pButton
    ></button>
    <button
      class="p-button-text"
      routerLinkActive="activebutton"
      [routerLink]="['order/15166']"
      label="What's new"
      pButton
    ></button>
  </div>
  <div class="search-container">
    <input type="text" pInputText placeholder="Search..." />

    <button type="submit" pButton icon="pi pi-search"></button>
  </div>
  <div class="right-navbar-button">
    <button
      class="p-button-text"
      [routerLink]="['cart']"
      pButton
      routerLinkActive="activebutton"
    >
      <i
        class="pi pi-shopping-cart"
        pBadge
        [value]="cartQuantity.toString()"
      ></i>
    </button>
    <button
      class="p-button-text"
      (click)="change_theme()"
      pButton
      icon="pi pi-sun"
      ariaLabel="campaign"
    ></button>
  </div>
</div>
