<div class="first-toolbar toolbar">
  <div class="first-toolbar-div">+216 24989104</div>
  <div class="first-toolbar-div" *ngIf="!isSmallScreen">
    Get free delivery on orders over $100
  </div>
  <div *ngIf="!isAuth">
    <button
      class="p-button-text"
      label="Create an account"
      pButton
      routerLink="auth/signup"
    ></button>
    <span>|</span>
    <button
      class="p-button-text"
      label="Sign In"
      pButton
      routerLink="auth/login"
    ></button>
  </div>
  <div *ngIf="isAuth">
    <button
      type="submit"
      class="p-button-text"
      icon="pi pi-user"
      pButton
      routerLink="profile"
    ></button>
    <button
      class="p-button-text"
      label="Logout"
      pButton
      class="logout-button"
      (click)="logout()"
    ></button>
  </div>
</div>
<div
  class="second-toolbar toolbar"
  [ngClass]="{
    'navbar-transparent': isNavbarTransparent,
  }"
>
  <div class="logo1" routerLink="">
    <img [src]="getImgSrc()" alt="Logo" />

    <span>Swifty</span>
  </div>
  <div class="middle-content overlay" *ngIf="isSearchMode">
    <div class="search-container">
      <input
        type="text"
        pInputText
        placeholder="Search..."
        [(ngModel)]="searchQuery"
      />
      <button
        type="submit"
        class="p-button-text"
        pButton
        icon="pi pi-search"
        (click)="performSearch()"
      ></button>
      <button
        type="button"
        class="p-button-text cancel-button"
        pButton
        icon="pi pi-times"
        (click)="cancelSearch()"
      ></button>
    </div>
    <div class="search-results" *ngIf="isSearchMode">
      <div *ngIf="searchResults.length > 0">
        <div
          *ngFor="let result of searchResults"
          class="search-result"
          [routerLink]="['../v/product', result.id]"
        >
          <div class="result-left">
            <img
              class="result-img"
              src="{{ result.imageName }}
          "
              alt=""
            />
            <div class="result-text">
              <span>{{ result.name }}</span>
              <span>
                {{ result.shortDescription }}
              </span>
            </div>
          </div>
          <div class="result-price">
            <span>{{ result.price }} <i style="font-size: 12px">DT</i> </span>
            <div class="result-price-rating">
              <i class="pi pi-star-fill"></i>{{ result.reviewCount }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="middle-content" *ngIf="!isSearchMode && !isSmallScreen">
    <button
      class="p-button-text"
      routerLinkActive="activebutton"
      [routerLink]="['categorie']"
      label="Women"
      pButton
    ></button>
    <button
      class="p-button-text"
      routerLinkActive="activebutton"
      [routerLink]="['categorie']"
      label="Men"
      pButton
    ></button>

    <button
      class="p-button-text"
      routerLinkActive="activebutton"
      [routerLink]="['checkout']"
      label="Deals"
      pButton
    ></button>
    <button
      class="p-button-text"
      routerLinkActive="activebutton"
      [routerLink]="['order/289380']"
      label="What's new"
      pButton
    ></button>
    <button
      class="p-button-text"
      routerLinkActive="activebutton"
      [routerLink]="['../a']"
      label="Admin"
      pButton
    ></button>
  </div>
  <div class="right-navbar-button">
    <button
      type="submit"
      pButton
      icon="pi pi-search"
      (click)="toggleSearchMode()"
    ></button>

    <button
      class="p-button-text"
      [routerLink]="['cart']"
      pButton
      routerLinkActive="activebutton"
    >
      <i
        class="pi pi-shopping-cart"
        pBadge
        [value]="cartQuantity.toString()"
      ></i>
    </button>

    <button
      class="p-button-text"
      (click)="change_theme()"
      pButton
      icon="pi pi-sun"
      ariaLabel="campaign"
    ></button>
    <button
      *ngIf="isSmallScreen"
      class="p-button-text menu-button"
      pButton
      type="button"
      [ngClass]="{ 'menu-open': isMenuOpen }"
      [icon]="isMenuOpen ? 'pi pi-times' : 'pi pi-bars'"
      (click)="toggleMenu()"
    ></button>
  </div>
</div>
<p-menu
  class="menu"
  *ngIf="isSmallScreen && isMenuOpen"
  [model]="menuItems"
  [styleClass]="'p-d-lg-none'"
></p-menu>
