.container {
  display: flex;
}
app-sidebar-dashboard {
  height: calc( 100vh - 95px );
  position: sticky;
  z-index: 10;
}
.content-bg{
  position: absolute;
  left: 70px;
  z-index: 0;

}
.content {
  max-width: calc(100vw - 120px);
  flex: 1;
  margin: 0 10px auto 70px;
  padding-left: 25px;
  z-index: 1;
}
