.container {
  display: flex;
  
}

app-sidebar-dashboard {
  height: calc( 100vh - 90px );
  position: sticky;
}

.content {
  flex: 1;
  margin: 0 10px auto 70px;
  padding-left: 25px;
  background-image: url(../../assets/admin-section/effect-ondark.png);
  background-repeat: no-repeat;
}
