<div class="search-bar">
  <div class="search-input">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        [(ngModel)]="searchText"
        (input)="searchProducts()"
        placeholder="Search..."
      />
    </span>
  </div>
  <div class="filter-dropdown">
    <p-dropdown
      [options]="sortingOptions"
      [(ngModel)]="selectedSortingOption"
      (onChange)="onSortChange()"
      placeholder="Sort by"
    ></p-dropdown>
  </div>
</div>

<p-table [value]="products" [rows]="10" [paginator]="true" [pageLinks]="3">
  <ng-template pTemplate="header">
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Price</th>
      <th>Purchases</th>
      <th>Views</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>
        <div class="product-image">
          <img [src]="product.images[0].url" alt="{{ product.name }}" />
        </div>
      </td>
      <td>{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.shortDescription }}</td>
      <td>$ {{ product.price }}</td>
      <td>{{ product.purchases }} Purchases</td>
      <td>{{ product.views }} Views</td>
    </tr>
  </ng-template>
</p-table>
