<div class="mainpage">
  <div class="url-setion">URLI SECTION / PRODUCTCATEGORY / PRODUCT / MXS</div>
  <div class="first-content">
    <div class="first-content-left">
      <div class="img-section">
        <img src="../../assets/headset.png" alt="" />
      </div>
      <div class="img-section-more">
        <div class="img-section-more-one">
          <img src="../../assets/headset.png" alt="" />
        </div>
        <div class="img-section-more-one">
          <img src="../../assets/headset.png" alt="" />
        </div>
        <div class="img-section-more-one">
          <img src="../../assets/headset.png" alt="" />
        </div>
        <div class="img-section-more-one">
          <img src="../../assets/headset.png" alt="" />
        </div>
      </div>
    </div>
    <div class="first-content-right">
      <div class="product-object">Airpods-Max</div>
      <div class="product-description">
        a perfect airpods for gaming or workout or i don't give a fucka perfect
        airpods for gaming or workout or i don't give a fuck
      </div>
      <div class="product-rating">
        <i class="pi pi-star-fill"></i>
        <i class="pi pi-star-fill"></i>
        <i class="pi pi-star-fill"></i>
        <i class="pi pi-star-fill"></i>
        <i class="pi pi-star"></i>
        <span>(123) </span>
      </div>
      <div class="product-price">$343 or 99.99/month</div>
      <div class="product-price-details">You can pay per month or 2 weeks</div>
      <div class="product-count">
        <div class="quantity-control">
          <button class="quantity-btn minus" (click)="decrementQuantity()">
            -
          </button>
          <input type="text" class="quantity-input" min="0" />
          <button
            class="quantity-btn plus p-button-rounded"
            (click)="incrementQuantity()"
          >
            +
          </button>
        </div>
      </div>
      <div class="product-button-section">
        <button pButton id="button-buy">Buy Now</button>
        <button pButton id="button-cart">Add to Cart</button>
      </div>
      <div class="delevery-section">
        <div><i class="pi pi-car"></i> <span>Free Shit</span></div>
        <a href="Borni.com">enter your code to get a free delevery anywhere</a>
      </div>
    </div>
  </div>
  <div class="first-content"></div>
</div>
