<div class="mainpage">
  <div class="url-section">URLI SECTION / PRODUCTCATEGORY / PRODUCT</div>
  <div class="first-content">
    <div class="first-content-left">
      <p-galleria
        class="galleria"
        [value]="product?.images"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '550px' }"
        [numVisible]="5"
        [activeIndex]="activeIndex"
        [showItemNavigators]="true"
      >
        <ng-template pTemplate="item" let-item>
          <img [src]="item.url" style="width: 100%" class="item-image" />
        </ng-template>

        <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.url" class="thumbnail-image" />
          </div>
        </ng-template>
      </p-galleria>
    </div>
    <div class="first-content-right">
      <div class="product-object">{{ product?.name }}</div>
      <div class="product-description">
        {{ product?.shortDescription }}
      </div>
      <div class="product-rating">
        <i class="pi pi-star-fill"></i>
        <i class="pi pi-star-fill"></i>
        <i class="pi pi-star-fill"></i>
        <i class="pi pi-star-fill"></i>
        <i class="pi pi-star"></i>
        <span>(123) </span>
      </div>
      <div class="product-price">{{ product?.price }} DT</div>
      <div class="product-price-details">You can pay per month or 2 weeks</div>
      <div class="product-count">
        <div class="quantity-control">
          <div class="card flex justify-content-center">
            <p-inputNumber
              [min]="1"
              [max]="20"
              [(ngModel)]="quantity"
              [showButtons]="true"
              buttonLayout="horizontal"
              decrementButtonClass="p-button-text"
              incrementButtonClass="p-button-text"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [inputStyle]="{ width: '50px', 'border-radius': '5px' }"
            ></p-inputNumber>
          </div>
        </div>
      </div>
      <div class="product-button-section">
        <button pButton id="button-buy">Buy Now</button>
        <button pButton id="button-cart" (click)="addToCart()">
          Add to Cart
        </button>
      </div>
      <div class="delevery-section">
        <div><i class="pi pi-car"></i> <span>Free Shit</span></div>
        <a href="Borni.com">enter your code to get a free delevery anywhere</a>
      </div>
    </div>
  </div>
  <div class="mainpage">
    <div class="secend-content">
      <div class="secend-content-details">
        <h3>More Details</h3>
        <span>{{ product?.description }}</span>
      </div>
    </div>
  </div>
</div>
