<p-progressSpinner
  *ngIf="isLoading"
  styleClass="custom-spinner"
></p-progressSpinner>
<div class="mainpage" *ngIf="!isLoading">
  <div class="url-section">URLI SECTION / PRODUCTCATEGORY / PRODUCT</div>
  <div class="first-content">
    <div class="first-content-left">
      <p-galleria
        class="galleria"
        [value]="product?.images"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '550px' }"
        [numVisible]="5"
        [activeIndex]="activeIndex"
        [showItemNavigators]="true"
        [showItemNavigatorsOnHover]="true"
        [autoPlay]="true"
        [circular]="true"
      >
        <ng-template pTemplate="item" let-item>
          <img [src]="item.url" style="width: 100%" class="item-image" />
        </ng-template>

        <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.url" class="thumbnail-image" />
          </div>
        </ng-template>
      </p-galleria>
    </div>
    <div class="first-content-right">
      <div class="product-object">{{ product?.name }}</div>
      <div class="product-description">
        {{ product?.shortDescription }}
      </div>
      <div class="product-rating">
        <p-rating
          [ngModel]="product?.averageRating"
          [readonly]="true"
          [cancel]="false"
        ></p-rating>
        <span>({{ product?.lengthRating }}) </span>
      </div>
      <div class="product-price">
        {{ product?.price }} <i style="font-size: 12px"> DT</i>
      </div>
      <div class="product-price-details">You can pay per month or 2 weeks</div>
      <div class="product-count">
        <div class="quantity-control">
          <div class="card flex justify-content-center">
            <p-inputNumber
              [min]="1"
              [max]="20"
              [(ngModel)]="quantity"
              [showButtons]="true"
              buttonLayout="horizontal"
              decrementButtonClass="p-button-text"
              incrementButtonClass="p-button-text"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [inputStyle]="{ width: '50px', 'border-radius': '5px' }"
            ></p-inputNumber>
          </div>
        </div>
      </div>
      <div class="product-button-section">
        <button pButton id="button-buy">Buy Now</button>
        <button pButton id="button-cart" (click)="addToCart()">
          Add to Cart
        </button>
      </div>
      <div class="delevery-section">
        <div><i class="pi pi-car"></i> <span>Free Shit</span></div>
        <a href="Borni.com">enter your code to get a free delevery anywhere</a>
      </div>
    </div>
  </div>
  <div class="mainpage">
    <div class="secend-content">
      <div class="secend-content-details">
        <h3>Specifications</h3>
        <div class="secend-content-details-card">
          <ul class="p-list-group">
            <li
              *ngFor="let spec of product?.specifications"
              class="p-list-group-item"
            >
              <div class="spec-name">{{ spec.name }}:</div>

              <div class="spec-value">{{ spec.value }}</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="secend-content-details">
        <h3>More Details</h3>
        <span>{{ product?.description }}</span>
      </div>
      <div class="secend-content-details">
        <h3>Tags</h3>
        <div class="secend-content-tags">
          <span *ngFor="let tag of product?.tags"
            >#{{ parseTag(tag).tag }}</span
          >
        </div>
      </div>
      <div class="secend-content-details">
        <div class="secend-content-details-review-flex">
          <div class="review">
            <h1>{{ product?.averageRating?.toFixed(1) ?? "N/A" }}</h1>
            <p-rating
              [ngModel]="product?.averageRating"
              [readonly]="true"
              [cancel]="false"
            ></p-rating>
            <h4>{{ product?.lengthRating }} Reviews</h4>
            <button pButton (click)="addReview()">Write review</button>
          </div>

          <div class="review-form" *ngIf="showReviewForm">
            <form [formGroup]="reviewForm" (ngSubmit)="submitReview()">
              <h3>Write Your Review</h3>
              <div class="p-inputgroup">
                <p-rating
                  formControlName="rating"
                  [ngModel]="rating"
                ></p-rating>
              </div>
              <div class="p-inputgroup">
                <textarea
                  rows="5"
                  pInputTextarea
                  placeholder="Your review..."
                  formControlName="comment"
                ></textarea>
              </div>
              <button pButton type="submit" label="Submit Review"></button>
            </form>
          </div>
        </div>

        <div class="review-flex">
          <p-progressSpinner
            *ngIf="isLoading"
            styleClass="custom-spinner"
          ></p-progressSpinner>
          <div class="review-flex-item" *ngFor="let review of reviews">
            <div class="review-flex-item-flex">
              <div class="review-flex-item-flex-l">
                <img src="../../../assets/user.png" alt="user" />
                <span class="review-flex-item-flex-l-name">
                  {{ review.userId.name }}</span
                >

                <span>1d ago</span>
              </div>
              <div class="review-flex-item-flex-r">
                <p-rating
                  [(ngModel)]="review.rating"
                  [readonly]="true"
                  [cancel]="false"
                ></p-rating>
              </div>
            </div>
            <div class="review-flex-item-content">
              {{ review.comment }}
            </div>
          </div>
        </div>
        <div class="review">
          <p-progressSpinner
            *ngIf="isLoading"
            styleClass="custom-spinner"
          ></p-progressSpinner>

          <p-button
            label="Show more"
            styleClass="p-button-outlined p-button-secondary"
            (click)="showMoreReviews()"
            *ngIf="hasMoreReviews"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
