<h2>Dashboard</h2>
<div class="first-content">
  <div class="first-content-card sales-card">
    <i class="pi pi-dollar"></i>
    <h3>Total Sales</h3>
    <p>{{ AnalyticsData?.totalSales.toFixed(2) }}</p>
  </div>
  <div class="first-content-card orders-card">
    <i class="pi pi-shopping-cart"></i>
    <h3>Total Orders</h3>
    <p>{{ AnalyticsData?.allorders }}</p>
  </div>
  <div class="first-content-card conversion-card">
    <i class="pi pi-chart-line"></i>
    <h3>Conversion Rate</h3>
    <p>{{ AnalyticsData?.conversionRate }} %</p>
  </div>
  <div class="first-content-card visitors-card">
    <i class="pi pi-users"></i>
    <h3>Total Clients</h3>
    <p>{{ AnalyticsData?.clients }}</p>
  </div>
</div>

<div class="secend-content">
  <div class="left-card card">
    <h2>Revenue Chart</h2>
    <p-chart
      id="revenueChart"
      type="bar"
      [data]="revenueChartData"
      [options]="chartOptions"
    ></p-chart>
  </div>

  <div class="client-chart">
    <h2>Clients</h2>
    <h5>Your Clients Data</h5>
    <div class="client-chart-center-flex">
      <p-chart
        id="clientChart"
        type="line"
        [data]="clientChartData"
        [options]="clientchartOptionss"
        [style]="{ width: '330px', heigth: '30px' }"
      ></p-chart>
      <div class="client-chart-content">
        <div>
          <i class="pi pi-chart-line"></i>
          <span> Insights </span>
        </div>
        <div class="client-chart-insights">
          <span>1 Client from Mail CTA</span>
          <span>12%</span>
        </div>
        <div class="client-chart-insights">
          <span>2 Clients from FB Ads</span>
          <span>UP!</span>
        </div>
      </div>
      <button class="dashboard-button" pButton>Check Clients</button>
    </div>
  </div>
  <div class="right-card card">
    <h2>Sales By Category</h2>
    <h5>Categorized sales data</h5>
    <p-chart
      id="salesChart"
      type="doughnut"
      [data]="salesChartData"
      [options]="chartOptionss"
    ></p-chart>
  </div>
</div>
<div class="third-content">
  <div class="stock-inventory">
    <h2>Stock Inventory Overview</h2>
    <h5>Stock levels and distribution</h5>
    <p-chart
      id="stockChart"
      type="bar"
      [data]="stockChartData"
      [options]="stockChartOptions"
    ></p-chart>
  </div>

  <div class="product-content">
    <h2>Top Selling Products</h2>
    <div class="top-selling-products">
      <div
        class="top-selling-product"
        *ngFor="let product of topSellingProducts"
      >
        <div class="product-name">{{ product.name }}</div>
        <div class="product-sales">{{ product.sales }} Sales</div>
      </div>
    </div>
  </div>
  <div class="latest-orders">
    <h2>Revenue Chart</h2>

    <p-timeline [value]="orderEvents">
      <ng-template pTemplate="marker" let-event>
        <div class="status-icon">
          <div
            class="status-circle"
            [style.background-color]="getStatusColor(event.status)"
          ></div>
        </div>
      </ng-template>
      <ng-template pTemplate="content" let-event class="order-items">
        <div class="order-info">
          <div class="order-details">
            <div class="order-name">{{ event.name }} {{ event.phone }}</div>
            <div class="order-date">{{ event.date }}</div>
          </div>
          <div>
            <div
              class="order-price"
              [style.color]="getStatusColor(event.status)"
            >
              + {{ event.totalAmount }}
              <span style="font-size: 12px">Dt</span>
            </div>
          </div>
        </div>
      </ng-template>
    </p-timeline>
    <div class="order-info-button">
      <button class="dashboard-button" pButton>Check Revenue</button>
    </div>
  </div>
</div>
