<h2>Dashboard</h2>
<div class="first-content">
  <div class="first-content-card sales-card">
    <i class="pi pi-dollar"></i>
    <h3>Total Sales</h3>
    <p>$50,000</p>
  </div>
  <div class="first-content-card orders-card">
    <i class="pi pi-shopping-cart"></i>
    <h3>New Orders</h3>
    <p>120</p>
  </div>
  <div class="first-content-card conversion-card">
    <i class="pi pi-chart-line"></i>
    <h3>Conversion Rate</h3>
    <p>25%</p>
  </div>
  <div class="first-content-card visitors-card">
    <i class="pi pi-users"></i>
    <h3>Visitors</h3>
    <p>2,500</p>
  </div>
</div>

<div class="secend-content">
  <div class="left-card card">
    <h2>Revenue Chart</h2>
    <p-chart
      id="revenueChart"
      type="bar"
      [data]="revenueChartData"
      [options]="chartOptions"
    ></p-chart>
  </div>
  <div class="latest-orders">
    <h2>Revenue Chart</h2>

    <p-timeline [value]="orderEvents">
      <ng-template pTemplate="marker" let-event>
        <div class="status-icon">
          <div
            class="status-circle"
            [style.background-color]="getStatusColor(event.status)"
          ></div>
        </div>
      </ng-template>
      <ng-template pTemplate="content" let-event class="order-items">
        <div class="order-info">
          <div class="order-details">
            <div class="order-name">{{ event.name }} {{ event.phone }}</div>
            <div class="order-date">{{ event.date }}</div>
          </div>
          <div>
            <div
              class="order-price"
              [style.color]="getStatusColor(event.status)"
            >
              + {{ event.totalAmount }}
              <span style="font-size: 12px">Dt</span>
            </div>
          </div>
        </div>
      </ng-template>
    </p-timeline>
    <h5 style="color: rgb(183, 66, 183)">See more</h5>
  </div>
  <div class="right-card card">
    <h2>Sales By Category</h2>
    <h5>Categorized sales data</h5>
    <p-chart
      id="salesChart"
      type="doughnut"
      [data]="salesChartData"
      [options]="chartOptionss"
    ></p-chart>
  </div>
</div>
<div class="third-content">
  <div class="client-chart">
    <h2>Clients</h2>
    <h5>Your Clients Data</h5>
    <p-chart
      id="clientChart"
      type="line"
      [data]="clientChartData"
      [options]="clientchartOptionss"
      [style]="{ width: '150px' }"
    ></p-chart>
  </div>
</div>
