.category-form {
  max-width: 400px;
  margin: 20px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  display: block;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: var(--whitecolor);
  border:var(--whitecolor) solid 1px;
  cursor: pointer;
}

.btn:hover {
  background-color: #f0f0f0;
  border:transparent solid 1px !important;

}
p-table button{
  color: rgb(64, 64, 64) !important ;
  border:rgb(64, 64, 64)  solid 1px !important;
}