/* styles.css (global CSS file) or your component's CSS file */


a,
button {
  color: var(--whitecolor) !important;
 
}
.mainpage{
    max-width: 1300px;
    min-height:600px ;
    margin: 40px auto;
}   
.first-content{
    height: 240px;
    width: 100%;
    border-radius: 20px;
    margin: auto;
    background-color: #d9ddfb;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.first-content-left{
    width: 500px;
    height: 100%;

}
.first-content-right {
    width: 30%;
}

.first-content-right img{
    height: 240px ;
    width: 240px;
}

.first-content-left h1 {
    font-size: 35px;
    line-height: 1.6;
    font-weight: 550;
    letter-spacing: 1px;
    color: black;
}
.first-content-left button {
    width: 150px;
    height: 40px ;
    padding: 10px 20px;
    background-color: black;
    color: white !important;
    border-radius: 20px;
    border: none;
    justify-content: center;

}

.filter-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-container {
    max-width: 95%;
    margin: 20px auto;
    display: flex;
    flex: 1;
  }
  
  .filter-item {
    flex-grow: 1;
    margin-right: 20px;
  }
  .price-range-display-gap{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: auto 20px;
    max-width: 200px;
    border: 1px solid #ced5db;
    border-radius: 5px;
    padding: 7px 20px;
    background-color: var(--soft-darkcolor);
}
  .price-range-display {
    text-align: center;
    color: gray;
  }
  
  .button-container {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

  }
  .button-container button{
    background: transparent !important;
    border: 1px solid gray !important;
    height: 40px !important;
  }

.text-for-section{
    font-size: 30px;
    margin:  30px;
    font-weight: 550;

}
.product-section{
    justify-content: center;
    min-height: 700px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px  ;
}
.product{
    height: max-content;
    width: 280px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid transparent;
}
.product:hover{
    background-color: var(--soft-darkcolor);
    overflow: hidden;
}


.product-img-section{
    width: 100%;
    height: 270px;
    background-color: var(--soft-darkcolor);
}
.product-img-section img{
    height: 100%;
    width: 100%;

}
.product-content{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.product-content div {
    width: 90%;
    height: 40px;
    font-size: 20px;
    font-weight: 550;
}
.product-content span {
    
    color: var(--graycolor);
}
.product-rating {
    display: flex;
    align-items: center;
  }
  .product-rating i {
    font-size: 14px; 
    color: green;   
}
  .product-rating span {
    margin-left: 10px;
    font-size: 14px;    
  }
.product-content-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-content-bottom button{
    background: transparent !important;
    border: 1px solid gray !important;
    height: 40px !important;
}

