<div class="mainpage">
  <div class="first-content">
    <div class="first-content-left">
      <h1>Grap Upto 50% Off On Selected Headphone</h1>
      <button>Buy Now</button>
    </div>
    <div class="first-content-right">
      <img
        src="../../assets/—Pngtree—creative technology science fiction cyberpunk_9015394.png"
        alt="saif"
      />
    </div>
  </div>

  <div class="filter-section">
    <div class="filter-container">
      <div class="filter-item">
        <p-multiSelect
          id="category"
          [options]="categoryOptions"
          [(ngModel)]="selectedCity"
          [showClear]="true"
          [filter]="true"
          [placeholder]="'Category'"
          [style]="{ width: '100%' }"
        ></p-multiSelect>
      </div>
      <div class="filter-item">
        <p-multiSelect
          id="category"
          [options]="colorOptions"
          [(ngModel)]="selectedCity"
          [showClear]="true"
          [filter]="true"
          [placeholder]="'Color'"
          [style]="{ width: '100%' }"
        ></p-multiSelect>
      </div>
      <div class="filter-item">
        <p-multiSelect
          id="category"
          [options]="priceOptions"
          [(ngModel)]="selectedCity"
          [showClear]="true"
          [filter]="true"
          [placeholder]="'Price'"
          [style]="{ width: '100%' }"
        ></p-multiSelect>
      </div>
      <div class="filter-dropdown">
        <p-dropdown
          [options]="sortingOptions"
          [(ngModel)]="selectedSortingOption"
          (onChange)="onSortChange()"
          placeholder="Sort by"
        ></p-dropdown>
      </div>
      <div class="button-container">
        <button
          pButton
          type="button"
          label="Apply"
          class="shit"
          (click)="applyFilters()"
        ></button>
        <button
          pButton
          type="button"
          label="Reset"
          (click)="resetFilters()"
        ></button>
      </div>
    </div>
  </div>
  <div class="text-for-section">Headphones For You!</div>
  <div class="product-section">
    <div class="product" *ngFor="let tb of tab">
      <div class="product-img-section">
        <img src="../../assets/t-shirt.png" alt="" />
      </div>
      <div class="product-content">
        <div>Wireless EarBugs IPX8</div>
        <span>Organic Best Shit in the world </span>
        <div class="product-rating">
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star"></i>

          <span>(123) </span>
        </div>
        <div class="product-content-bottom">
          <button
            pButton
            label="Add to cart"
            routerLink="../../v/product"
            styleClass="p-button-outlined p-button-secondary"
          ></button>
          <h5>120.00</h5>
        </div>
      </div>
    </div>
  </div>
</div>
