<div class="mainpage">
  <div class="top-section">
    <div>
      <h3>
        Wecome <i> {{ userName }}</i>
      </h3>
      <h1>My Orders</h1>
      <span>Lorem ipsum dolor sit amet, consectetur</span>
    </div>

    <div class="search-section p-inputgroup">
      <input
        pInputText
        class="search-input"
        placeholder="Search"
        [(ngModel)]="searchInput"
        (input)="applySearchFilter()"
      />
      <span class="p-inputgroup-addon search-icon">
        <i class="pi pi-search"></i>
      </span>
    </div>
  </div>
  <p-progressSpinner *ngIf="loading" class="custom-spinner"></p-progressSpinner>
  <div *ngIf="!loading">
    <div
      *ngIf="filteredOrders.length === 0; else ordersList"
      class="empty-cart-message"
    >
      <div class="empty-cart-message">
        <i class="pi pi-shopping-cart empty-cart-icon"></i>
        <p>No orders available for this user.</p>
      </div>
    </div>
    <ng-template #ordersList>
      <div *ngFor="let order of filteredOrders">
        <div class="orders-section-header">
          <div class="orders-section-header_item">
            <div>Order Number</div>
            <div>{{ order.orderId }}</div>
          </div>
          <div class="orders-section-header_item">
            <div>Order Date</div>
            <div class="order-status-details">
              <i
                [class]="getOrderStatusInfo(order.status).icon"
                [style.color]="getOrderStatusInfo(order.status).color"
              ></i>
              <span [style.color]="getOrderStatusInfo(order.status).color"
                >{{ order.status }} {{ order.orderDate | date }}
              </span>
            </div>
          </div>

          <div class="orders-section-header_item">
            <div>Total Amount</div>
            <div>{{ order.totalAmount }} <i style="font-size: 12px">DT</i></div>
          </div>
        </div>
        <div class="orders">
          <div class="order-details">
            <div *ngFor="let product of order.products" class="order-product">
              <div class="order-product-left">
                <img [src]="product.productId.images[0].url" alt="" />
                <div class="order-product-left-content">
                  <div>{{ product.productId.name }}</div>
                  <div class="left-content-size">
                    Category | {{ product.category }}
                  </div>
                  <div>Quantity {{ product.quantity }}</div>
                </div>
              </div>
              <div class="order-product-price">
                {{ product.productId.price }} <i style="font-size: 12px">DT</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
