<div class="mainpage1">
  <div class="homepage-background-img"></div>

  <div class="mainpage">
    <div class="first-content">
      <div class="first-content-field">
        <div class="first-content-field-text">
          Basic Colours <br />
          Comeback
        </div>
        <div class="first-content-field-smaller-text">
          less is more never out of date. In the last of this years , basic
          colours will comeback, discover our collections and choose your style
          .
        </div>
        <div class="first-content-field-button-section">
          <button pButton>Shop now</button>
          <button pButton icon="pi pi-play">View LookBook</button>
        </div>
      </div>
    </div>
  </div>
</div>
