.mainpage{
    max-width: 1300px;
    min-height:520px ;
    margin: 50px auto;
}   
a,button{
    color: var(--whitecolor);
}
.checkout-container {
    display: flex;
    justify-content: space-around;
}
  
.left-content {
    padding: 20px;
    width: 45%;
}
.empty-section{
    margin: 80px auto;
    padding: 20px 30px 40px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 380px;
    gap: 20px;
}
.empty-cart-icon {
    font-size: 4rem;
    color: var(--graycolor);
    margin-bottom: 10px;
  }
.empty-section button{
    width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--maincolor);
    border:var(--maincolor) solid 1px ;
    background-color: transparent;
}

.empty-section button i{
    font-size: 12px;
}
.empty-section p{
    font-size: 18px;
    text-align: center;
}
/* CSS for the Account Creation Banner */
.account-creation-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right,#273239, #516974);
    padding: 10px 20px; 
    border-radius: 10px;
    color: white;
  }
  
  .account-creation-banner p {
    margin: 0; /* Remove default margin for the paragraph */
    font-size: 16px; /* Adjust font size as needed */
    font-weight: bold;
  }
  
  .account-creation-banner button {
    font-size: 14px; /* Adjust font size as needed */
    padding: 8px 16px; /* Adjust padding as needed */
    border-radius: 20px;
    color: white;
    background-color: #607c8a;
    border:none ;
    display: flex;
    gap: 5px;
  }
  .account-creation-banner button i{
    font-size: 12px; /* Adjust font size as needed */
  }
  form{
    display: flex;
    flex-direction: column;
    gap:20px;
  }
  .right-content {
    border-radius:20px ;
    padding: 20px;
    width: 40%;
    background-color: var(--soft-darkcolor);
    height: max-content;
}
.p-inputMask,input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.form-split{
    display: flex;
    gap: 10px;
}

.form-split-input{
    width: 50% !important;

}
.filter-item{
    width: 100%;
}
.filter-item p-dropdown{
    width: 100% !important;

}
.newsletter-checkbox{
    display: flex;
    gap: 10px;
}
.shipping-buttons{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;

}
.shipping-buttons button:first-child{
    color: var(--maincolor);
    background-color: transparent;
    border: var(--maincolor) solid 1px;
}
.shipping-buttons button:last-child{
    background-color: transparent;
    border: var(--whitecolor) solid 1px;
}

.subtotal{
    margin: 20px auto ;
    display: flex;
    justify-content: space-between;
    padding:  20px;
}

.subtotal:last-child{
    font-weight: 600;
    font-size: 18px;
}
@media only screen and (max-width: 1100px) {

    .checkout-container {
        flex-direction: column;
    }
    .left-content {
        width: 90%;
        min-height: 300px;
        margin: auto;
        order: 2;
    }

    .right-content {
        width: 90%;
        height: max-content;
        margin: auto;
        order: 1;
      }
}
