<div class="mainpage">
  <div *ngIf="items.length === 0" class="empty-section">
    <i class="pi pi-tags empty-cart-icon"></i>
    <p>Your cart is empty. Click below to explore our products.</p>
    <button pButton class="p-button-primary" [routerLink]="['/v/categorie']">
      Explore Products
      <i class="pi pi-arrow-right"></i>
    </button>
  </div>
  <div class="checkout-container" *ngIf="items.length > 0">
    <div class="left-content">
      <div class="account-creation-banner">
        <p>Want faster checkout next time?</p>
        <button pButton class="p-button-primary" (click)="onCreateAccount()">
          Create an Account
          <i class="pi pi-arrow-right"></i>
        </button>
      </div>
      <h2>Contact Information</h2>

      <!-- Add the form element with [formGroup] directive -->
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <!-- Add the formControlName directive for the 'email' field -->
          <input
            id="useremail"
            type="email"
            pInputText
            placeholder="Enter your email"
            formControlName="email"
          />
        </div>
        <div class="newsletter-checkbox">
          <!-- Add the formControlName directive for the 'newsletter' field -->
          <p-checkbox
            id="newsletter"
            [binary]="true"
            inputId="binary"
            formControlName="newsletter"
          ></p-checkbox>
          <label for="newsletter">Email me with news and offers</label>
        </div>
        <h2>Shipping</h2>
        <div class="form-group p-inputgroup">
          <!-- Add the formControlName directive for the 'phone' field -->
          <span class="p-inputgroup-addon">
            <i class="pi pi-phone"></i>
          </span>
          <input
            id="userphone"
            type="number"
            placeholder="Enter your phone"
            formControlName="phone"
          />
        </div>
        <div class="form-group form-split">
          <!-- Add the formControlName directive for the 'name' field -->
          <input
            class="form-split-input"
            id="username"
            type="text"
            pInputText
            placeholder="Name"
            formControlName="name"
          />
          <!-- Add the formControlName directive for the 'lastname' field -->
          <input
            class="form-split-input"
            id="userlastname"
            type="text"
            pInputText
            placeholder="Last Name"
            formControlName="lastname"
          />
        </div>

        <div class="form-group">
          <!-- Add the formControlName directive for the 'address' field -->
          <input
            id="useraddress"
            type="text"
            pInputText
            placeholder="Address"
            formControlName="address"
          />
        </div>
        <div class="form-group form-split">
          <!-- Add the formControlName directive for the 'postal' field -->
          <input
            class="form-split-input"
            id="userpostal"
            type="text"
            pInputText
            placeholder="Postal Code"
            formControlName="postal"
          />
          <!-- Add the formControlName directive for the 'lastcity' field -->
          <input
            class="form-split-input"
            id="userlastcity"
            type="text"
            pInputText
            placeholder="City"
            formControlName="lastcity"
          />
        </div>
        <div class="shipping-buttons">
          <button type="button" pButton class="p-button-text">
            Return to Cart
          </button>
          <button type="submit" pButton>Continue to Shipping</button>
        </div>
      </form>
    </div>
    <div class="right-content">
      <h2>Your Cart</h2>

      <div class="p-inputgroup promo-code">
        <input type="text" pInputText placeholder="Promo Code" />
        <button
          type="button"
          pButton
          icon="pi pi-check"
          styleClass="p-button-success"
        ></button>
      </div>

      <div class="subtotal">
        <span>Subtotal</span>
        <span>{{ totalPrice }} <i style="font-size: 12px">DT</i></span>
      </div>
      <div class="subtotal">
        <span>Shipping</span>
        <span>7 <i style="font-size: 12px">DT</i></span>
      </div>
      <div class="subtotal">
        <span>Total</span>
        <span>{{ totalPrice + 7 }} <i style="font-size: 12px">DT</i></span>
      </div>
    </div>
  </div>
</div>
