<p-sidebar [(visible)]="sidebarVisible">
  <ng-template pTemplate="header">Notification</ng-template>
  <ng-template pTemplate="content">
    <div class="notifications">
      <ng-container *ngFor="let notification of notifications">
        <div [class]="getNotificationClass(notification.type)">
          <i [class]="getNotificationIcon(notification.type)"></i>
          <div class="notification-content">
            <div class="notification-title">{{ notification.title }}</div>
            <div class="notification-message">{{ notification.message }}</div>
            <div class="notification-time">
              {{ notification.time | date : "medium" }}
            </div>
          </div>
          <a (click)="markAsRead(notification)">
            <i
              class="seen-icon"
              [ngClass]="{
                'pi pi-exclamation-circle': !notification.seen
              }"
              style="font-size: 14px"
            ></i>
          </a>
        </div>
      </ng-container>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">Saif Is The Best</ng-template>
</p-sidebar>
