/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "/src/assets/theme/theme-light.css";

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--whitecolor);
    background: var(--darkcolor);
    font-family: var(--font-family);

    --bordercolor: #53545878;
    --darkcolor: #111827;
    --soft-darkcolor: #1d2538;
    --whitecolor: #ffffff;
    --graycolor: #b1b6b8;
    --maincolor: #726fdd;
    --maintranscolor: #3b7fed71;
    --secendcolor: #c04e14;
    --darktranscolor: #19181ada;
    --soft-darktranscolor: #26272b69;
    --buttonactive:#2e37469c;
}

body.light-theme {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--whitecolor);
  background: var(--darkcolor);
  font-family: var(--font-family);

  --bordercolor: rgb(238, 238, 238);
  --darkcolor: #feffff;
  --soft-darkcolor: #f0f3f7;
  --whitecolor: #000000;
  --graycolor: #444444;
  --maincolor: #4f46e5;
  --maintranscolor: #85586F71;
  --secendcolor: #c04e14;
  --darktranscolor: #fdfdfdce;
  --soft-darktranscolor: #94959769;
  --buttonactive: #b7b6e5;
}
a,
button {
  cursor: pointer;
  text-decoration: none;
}
.fas {
  font-size: 27px;
}
ul {
  list-style-type: none;
}
input{
  background-color: var(--soft-darkcolor) !important;
  color: var(--whitecolor) !important;
}
input::placeholder{
  background-color: var(--soft-darkcolor);
  color: var(--graycolor);
}

/************ scroll bar ****************/
::-webkit-scrollbar {
    width: 8px;
    background-color: var(--darkcolor);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--whitecolor);
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--soft-darkcolor);
  }
 
  /*********************-Active Button********************/
  
  .activebutton {
    background-color: var(--buttonactive);
  }
  /*********************-divider********************/

  .p-divider {
    border-color: var(--bordercolor);
    border-width: 1px;
  }

  .activebutton{
    background-color: var(--soft-darkcolor) !important;
  }

  /*********************-loading********************/
  .loading-indicator{
    display: flex;
    align-items: center;
    justify-content: center;
}
